name: Remote Deploy via SSH 
on: 
  push: 
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd server/ci-cd-test
            git pull
            docker compose up -d --build
            
